.component.student-details {
  padding: 20px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .button {
    margin-left: 20px;
  }

  .header {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .title {
      font-size: 2em;
    }
  }

  .communication-list {
    flex-grow: 1;
    width: 100%;
  }
}
