.component.student-details {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    font-size: 32px;
    margin: 20px;
  }

  .communication-list {
    flex-grow: 1;
    width: 100%;
  }
}
