@import "vars.scss";

.component.list {
  display: flex;
  flex-direction: column;

  .list-headers {
    display: flex;
    align-items: stretch;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 0;
    border-bottom: 2px solid $dividerColor;
    padding: 0 40px 15px;
  }

  .list-col {
    flex-basis: 0;

    &.name {
      flex-grow: 1.3;
    }

    &.date {
      flex-grow: 1;
    }

    &.details {
      flex-grow: 1.6;
    }
  }

  .rows {
    flex-grow: 1;
    overflow: auto;
    height: 0; // Fixes SimpleBar
  }
}
