@import "vars.scss";

.component.list {
  display: flex;
  flex-direction: column;

  .headers {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 40px;
    border-bottom: 2px solid $dividerColor;

    .col {
      user-select: none;

      // Add padding to make clickable area larger
      padding: 10px 0 12px 20px;
      margin-left: -20px;

      &.sortable {
        cursor: pointer;

        .sort-arrow {
          color: $accentColor;
          font-size: 17px;
          margin-left: 10px;
          vertical-align: 1px;
        }

        &:not(.sorted) .sort-arrow {
          display: none;
        }
      }
    }
  }

  .col {
    flex-basis: 0;
    overflow: hidden;
    overflow-wrap: break-word;

    .content {
      margin: 10px 20px;
      margin-left: 0;
    }
  }

  .rows {
    flex-grow: 1;
    overflow: auto;
    height: 0; // Fixes SimpleBar

    .row {
      min-height: 75px;
      display: flex;
      align-items: center;
      padding: 0 40px;
      border-bottom: 1px solid $dividerColor;
      position: relative;

      .delete {
        position: absolute;
        right: 20px;
        font-size: 20px;
        padding: 10px;
        display: none;
      }

      &:hover {
        cursor: pointer;
        background: darken($boxColor, 1%);

        .delete {
          display: block;
          opacity: 0.1;

          &:hover {
            opacity: 0.4;
            color: $dangerColor;
          }
        }
      }

      .col {
        .date {
          font-weight: 600;
        }

        .type {
          color: $accentAlt2Color;
          text-transform: capitalize;

          &.email {
            color: $accentColor;
          }

          &.phone {
            color: $accentAlt1Color;
          }
        }
      }
    }
  }
}
