@import "vars.scss";

.component.list {
  display: flex;
  flex-direction: column;

  .headers {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 0;
    border-bottom: 2px solid $dividerColor;
    padding: 0 40px 15px;
  }

  .col {
    flex-basis: 0;
  }

  .rows {
    flex-grow: 1;
    overflow: auto;
    height: 0; // Fixes SimpleBar

    .row {
      min-height: 75px;
      display: flex;
      align-items: center;
      padding: 0 40px;
      border-bottom: 1px solid $dividerColor;
      position: relative;

      .delete {
        position: absolute;
        right: 20px;
        font-size: 20px;
        display: none;
      }

      &:hover {
        cursor: pointer;
        background: darken($boxColor, 1%);

        .delete {
          display: block;
          opacity: 0.1;

          &:hover {
            opacity: 0.4;
            color: $dangerColor;
          }
        }
      }
    }
  }
}
