.component.header-actions {
  float: right;

  .row {
    display: flex;
    justify-content: flex-end;

    &:first-child {
      margin-bottom: 10px;
    }

    .button {
      margin-left: 10px;
    }
  }
}
