@import "vars.scss";

// If we are viewing student details, hide the list
.component.student-details + .component.student-list {
  display: none;
}

.component.student-list {
  .component.list {
    .rows .row {
      // Lock height
      height: 75px;
      overflow: hidden;
    }

    .col .content {
      // Display max 2 lines
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
