@import "vars.scss";

.component.student-row {
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid $dividerColor;
  position: relative;

  .delete {
    position: absolute;
    right: 20px;
    font-size: 20px;
    display: none;
  }

  .date {
    .type {
      color: $accentAlt2Color;

      &.email {
        color: $accentColor;
      }

      &.phone {
        color: $accentAlt1Color;
      }
    }
  }

  &:hover {
    cursor: pointer;
    background: darken($boxColor, 1%);

    .delete {
      display: block;
      opacity: 0.1;

      &:hover {
        opacity: 0.4;
        color: $dangerColor;
      }
    }
  }
}
