@import "vars.scss";

// If we are viewing student details, hide the list
.component.student-details + .component.student-list {
  display: none;
}

.component.student-list {
  .row .col {
    .date {
      font-weight: 600;
    }

    .type {
      color: $accentAlt2Color;

      &.email {
        color: $accentColor;
      }

      &.phone {
        color: $accentAlt1Color;
      }
    }
  }
}
