@import "vars.scss";
@import "~simplebar/dist/simplebar.min.css";
@import "~react-datepicker/dist/react-datepicker.css";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&family=Oswald:wght@400&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  color: $primaryColor;
  background: $backgroundColor;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  // TODO: Remove min-width and make mobile-friendly
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  > .header {
    margin: 20px 0 0 20px;
    height: 100px;

    .title,
    .sub {
      font-family: "Oswald", sans-serif;
    }

    .title {
      font-size: 52px;
      line-height: 58px;
      white-space: nowrap;

      @media screen and (max-width: 975px) {
        font-size: 45px;
      }
    }

    .sub {
      font-size: 16px;
      color: $secondaryColor;
      margin-left: 20px;
    }
  }

  > .main {
    flex-grow: 1;
    margin-bottom: 3vh;
  }
}

.hidden {
  display: none;
}

.danger {
  color: $dangerColor;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.horizontal {
    flex-direction: row;
  }
}

.fill {
  width: 100%;
  height: 100%;
}

.box {
  overflow: hidden;
  border-radius: $borderRadius;
  background-color: $boxColor;
  box-shadow: 0 3px 10px $overlayColor;
}

.rotate {
  animation: rotate 0.8s linear infinite;
}

// Fix datepicker arrow alignment
.react-datepicker__navigation.react-datepicker__navigation--next {
  right: 95px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
