@import "vars.scss";
@import "~simplebar/dist/simplebar.min.css";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&family=Oswald:wght@400&display=swap");

html,
body,
#root,
.app {
  height: 100%;
}

body {
  margin: 0;
  color: $primaryColor;
  background: $backgroundColor;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  // TODO: Remove min-width and make mobile-friendly
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  .header {
    font-family: "Oswald", sans-serif;
    margin: 20px 0;

    .title {
      font-size: 52px;
      line-height: 58px;
    }

    .sub {
      font-size: 16px;
      color: $secondaryColor;
      margin-left: 20px;
    }
  }

  .main {
    flex-grow: 1;
    margin-bottom: 30px;
  }
}

.hidden {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlayColor;
}

.box {
  overflow: hidden;
  border-radius: 5px;
  background-color: $boxColor;
  box-shadow: 0 3px 10px $overlayColor;

  &.modal {
    max-width: 400px;
    padding: 50px;

    i.error {
      display: block;
      font-size: 100px;
      color: $dangerColor;
      margin-bottom: 50px;
      text-align: center;
    }
  }
}

.button {
  font-family: "Open Sans", sans-serif; // For FF
  background-color: $accentColor;
  color: $accentTextColor;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 2px 5px $overlayColor;
  transition: background-color 0.2s;

  &:hover {
    background-color: lighten($accentColor, 5%);
  }

  &:active {
    background-color: lighten($accentColor, 10%);
  }

  &.transparent {
    box-shadow: none;
    background-color: transparent;
    color: $primaryColor;

    &:hover {
      background-color: transparentize($primaryColor, 0.95);
    }

    &:active {
      background-color: transparentize($primaryColor, 0.9);
    }
  }
}

.rotate {
  animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
