$primaryColor: #212121;
$overlayColor: transparentize($primaryColor, 0.8);
$secondaryColor: #757575;
$dividerColor: #e2e2e2;
$backgroundColor: #efefef;
$boxColor: #fdfdfd;
$accentColor: #2196f3;
$accentAlt2Color: #e64a19;
$accentAlt1Color: #7b1fa2;
$accentTextColor: #ffffff;
$dangerColor: darkred;
