$primaryColor: #212121;
$overlayColor: transparentize($primaryColor, 0.8);
$secondaryColor: #757575;
$dividerColor: #bdbdbd;
$backgroundColor: #efefef;
$boxColor: #fdfdfd;
$accentColor: #2196f3;
$accentTextColor: #ffffff;
